<html>
	<head>
		<title>fufufu</title>
	</head>
	<body>
		<h1 style="color:red";>"Hello, World!"</h1>
		<p>This is a paragraph</p>
		<h3>I am {{name}}</h3>
		<a href="https://www.google.com">Go to google</a>
		<p>Current time is {{now}}</p>
		
		{% if name == "Divyansh" %}
		Welcome Master!
		{% else %}
		Go Back Stranger!
		{% endif %}
		
		<ul>
			{% for color in colors %}
			<li>{{color}}</li>
			{% endfor %}
		</ul>
		

		<table border = "1">
			<thead>
				<th>Student</th>
				<th>Class</th>
				<th>Grade</th>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					{% for col in row %}
					<td>{{col}}</td>
					{% endfor %}
				</tr>

				{% endfor %}
			</tbody>
		</table>
		
		<img src="static/images/IMG_2019.jpg" height = 300 width = 300>
	</body>
</html>